@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen&display=swap%27');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    background-image: url('immmg/asciieffectmouth.png');
    
  }

  .container{
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  canvas {
    border:  1px solid cyan;
    height: 600px;
    margin: 0;
    position: relative;
  }
 .points
  { font-family: 'Press Start 2P';
    font-size: 27px;
    border-radius: 7px;
    height: 35px;
    margin: 10;
    width: 200px;
    color: aliceblue;

  }
  #score
  { font-family: 'Press Start 2P';
    font-size: 40px;
    border-radius: 7px;
    height: 35px;
    margin: 10;
    width: 200px;
    color: aliceblue;

  }
  .home{
    border-radius: 7px;
    border-color: aliceblue;
    height: 4px;
    margin: 10;
    width: 200px;
    color: aliceblue;
  }

  .mouth-top,.mouth-bottom{
    margin-left: auto;
    margin-right:auto;
    width: 400px;
    margin: 0;
    padding: 0;

  }

  .mouth-bottom{
    position: relative;
    top: -110px;
    height: 300;
    padding-bottom: 0;

  }