@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #CD8080;
}
.experience{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -4;
}

.experience-canvas{
  height: 100%;
  width: 100%;
  z-index: -4;
}

.link{
  position: absolute;
  top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
  font-size: 5vh;
  font-family: silkscreen;
  text-decoration: none;
  text-align: center;
  color: #fff;
  text-shadow:
    0 0 42px #33FF33,
    0 0 82px #33FF33;
    transition: 0.1s;
}

.link:hover{
  text-shadow:
    0 0 42px #FFCC00,
    0 0 82px #FFCC00;
}