@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Press+Start+2P&family=Silkscreen&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('immmg/asciieffectmouth.png');
    background-size: 385px;
  }

  canvas {
    top: 5px;
    border:  1px solid cyan;
    background-image: url("immmg/suit background.png"); 
    height: 98%;
    margin: 0;
    position: relative;
  }

 #score2
  { font-family: "Silkscreen";
    font-size: 150px;
    border-radius: 7px;
    height: 34px;
    margin: 10;
    width: 200px;
    z-index: 1;
    line-height: 4vh;
    top: 50vh;
    position: fixed;
    left: 74.5%;
    text-align: center;
  }
  #score1
  { font-family: "Silkscreen";
    font-size: 150px;
    border-radius: 7px;
    height: 34px;
    margin: 10;
    width: 200px;
    z-index: 1;
    line-height: 4vh;
    top: 50vh;
    position: fixed;
    left: 14.25%;
    text-align: center;
  }