@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Orbitron:wght@500&family=Press+Start+2P&family=Silkscreen&display=swap');

*{
    border: 0px;
    padding: 0;
    margin: 0;
    background-color: #FE4646;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

body{
    overflow-y: hidden;
}

.title-card{
    width: 100%;
    height: calc( 25vh * 2);
    object-fit: cover;
}

.i1{
    background-image: url("pimg/interviewer-1.png");
    background-size:cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 8000px;
    object-fit: cover;
    object-position: top;
    margin-top: 100px;
    transition: background-image 0.1s;
}
.i2{
    background-image: url("pimg/interviewer-2.png");
    background-size:cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 8000px;
    object-fit: cover;
    object-position: top;
    margin-top: 98px;
    transition: background-image 0.1s;
}
.i3{
    background-image: url("pimg/interviewer-3.png");
    background-size:cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 8000px;
    object-fit: cover;
    object-position: top;
    margin-top: 94px;
    transition: background-image 0.1s;
}
.i4{
    background-image: url("pimg/interviewer-4.png");
    background-size:cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 8000px;
    object-fit: cover;
    object-position: top;
    margin-top: 98px;
    transition: background-image 0.1s;
}
.i5{
    background-image: url("pimg/interviewer-5.png");
    background-size:cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 8000px;
    object-fit: cover;
    object-position: top;
    margin-top: 100px;
    transition: background-image 0.1s;
}

table{
    z-index: 2;
    align-items: center;
    justify-content: center;
    width:99vw;
    border-spacing: 0px;
    

}

div.sticky {
    position: sticky;
    margin: auto;
    width: 30vw;
    top: 0;
    /*background-color: #FE4646;
    text-align:left;
    font-family: 'Press Start 2P';
    font-size: 70px;*/
    color: #ffa5f6;
    z-index: 0;
    /*text-shadow:
        0 0 30px #ffa6f8
        0 0 30px rgb(38, 0, 255);*/
    }

.score-image{
    width: 30vw;
    margin: auto;
    mix-blend-mode: lighten;
    height: 7vw;
    
    object-fit: cover;
}

#score{
    width: 30vw;
    margin: auto;
    text-align: center;
    font-size: 7vh;
    font-family: orbitron;
}

.alert{
    /*augmented ui*/
    --aug-inlay-bg: rgb(35, 26, 26);
    --aug-tl: 17px;
    --aug-br:13px;

    /*vanilla css*/
    font-size: 12px;
    display: none;
    background: linear-gradient(55deg, #d7d7d7,#ffffff);
    font-family: 'Silkscreen';
    align-items: center;
    color: black;
    z-index: 1;
    top: 57%;
    transform: translateY(-43%);
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}


label{
    background-color: transparent;
}

.submitbutton{
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #855454;
    border-radius:50px;
    box-shadow: 3px 3px 0px #855454;
    transition: 0.1s;
}
.submitbutton:hover{
    opacity: 0.8;
}

.submitbutton:active{
    margin-left: 3px;
    margin-top: 3px;
    box-shadow: none;
}
#radiobtn{
    background: transparent;
    color: white;
}
.slider{
    width: 90%;
    background-color: transparent;
}

#sliderspan{
    background-color: transparent;
}

output{
    color: white;
}


h1{
    color: white;
    background-color: transparent;
}
