*{
    border: 0px;
    padding: 0;
    margin: 0;
    background-color: #FE4646;
    background-size: cover;
};
div{
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 45vh;
}

.title-card{
    width: 100%;
    height: calc( 25vh * 2);
    object-fit: cover;
    margin-bottom: 2px;
    background-attachment: fixed;
}

.g1,.g2,.g3,.g4,.g5{
    width: calc(90vw / 6);
    margin: 0;
    
    
}

.i1,.i2,.i3,.i4,.i5{
    width: 100%;
    height: 1000px;
    object-fit: cover;
    object-position: top;
}


table{
    width:100vw;
}
