@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen&display=swap%27');

*{
    border: 0px;
    padding: 0;
    margin: 0;
    background-color: #FE4646;
    background-size: cover;
    align-items: center;
    justify-content: center;
}


.title-card{
    width: 100%;
    height: calc( 25vh * 2);
    object-fit: cover;
}

.i1{
    background-image: url("pimg/interviewer-1.png");
    background-size:cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 6000px;
    object-fit: cover;
    object-position: top;
    margin-top: 100px;
}
.i2{
    background-image: url("pimg/interviewer-2.png");
    background-size:cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 6000px;
    object-fit: cover;
    object-position: top;
    margin-top: 98px;
}
.i3{
    background-image: url("pimg/interviewer-3.png");
    background-size:cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 6000px;
    object-fit: cover;
    object-position: top;
    margin-top: 94px;
}
.i4{
    background-image: url("pimg/interviewer-4.png");
    background-size:cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 6000px;
    object-fit: cover;
    object-position: top;
    margin-top: 98px;
}
.i5{
    background-image: url("pimg/interviewer-5.png");
    background-size:cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 6000px;
    object-fit: cover;
    object-position: top;
    margin-top: 100px;
}


table{
    align-items: center;
    justify-content: center;
    width:99vw;
    border-spacing: 0px;
}

div.sticky {
    position: sticky;
    top: 0;
    background-color: #FE4646;
    text-align:left;
    font-family: 'Press Start 2P';
    font-size: 70px;
    color: rgb(75, 159, 255);
    text-shadow:
        0 0 7px rgb(38, 0, 255),
        0 0 42px rgb(234, 0, 255);
    }

#score{
    text-align: center;
}