@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen&display=swap%27');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #d103af;
    display: flex;

}
.covering{
    margin: auto;
}
.deck{
    height: 640px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    
    
}
.card.shake{
    animation: shake 0.35s ease-in-out;
  }
  @keyframes shake {
    0%, 100%{
      transform: rotateZ(0deg);
    }
    20%{
      transform: rotateZ(2deg);
    }
    40%{
      transform: rotateZ(-2deg);
    }

    80%{
      transform: rotateZ(2deg);
    }
  }
.card{
    margin: 10px;
    height:calc(25% - 20px);
    width: calc(25% - 20px);
    position: relative;
    
    transform: scale(1);
    transition: transform 0.2s;
    transform-style: preserve-3d;
}
.card:active{
    transform: scale(0.95);
    transition: transform 0.5s;
}
.card.flip .back{
  transform: rotateY(0);
}
.card.flip .front{
  transform: rotateY(180deg);
}

.front,.back{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    backface-visibility: hidden;
    
}
.back{
    object-fit: cover;
    z-index: -1;
    display: flex;
    transform: rotateY(180deg);
}

.front{
    font-size: auto;
    color: black;
    background-color: yellow;
    line-height: 140px;
    text-align: center;
    font-size: 50px;
    font-family: 'Press Start 2P';
}
p{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details{
  width: 100%;
  margin-top: 15px;
  padding: 0 20px;
  border-radius: 7px;
  background: #fff;
  height: calc(100% / 4 - 30px);
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.details p{
  font-size: 25px;
  height: 25px;
  padding-right: 18px;
  border-right: 1px solid #ccc;
}
.details p span{
  margin-left: 10px;
}
.details p b{
  font-weight: 500;
}
.details button{
  cursor: pointer;
  font-size: 24px;
  color: #000000;
  border-radius: 4px;
  padding: 8px 11px;
  background: #fff;
  border: 2px solid #ff00d4;
  transition: 0.3s ease;
}
.details button:hover{
  color: #fff;
  background: #ff00ea;
  border: 2px solid #00ff6a;
}
@media screen and (max-width: 530px) {
  .cards{
    height: 300px;
    width: 300px;
  }
  .card .back-view img{
    max-width: 35px;
  }
  .details{
    margin-top: 10px;
    padding: 0 15px;
    height: calc(100% / 4 - 20px);
  }
  .details p{
    height: 15px;
    font-size: 17px;
    padding-right: 13px;
  }
  .details button{
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    background: #6563ff;
  }
}
